# Properties of our trading strategy

portfolio.file=config/portfolio.te
portfolio.threshold=10000

data.source=yahoo
data.symbol_list=config/stock_sym.te
